body {
  font-family: arial;
}

h1,
h2 {
  color: green;
}

h2 {
  font-style: italic;
}

ul {
  font-size: 100px;
}

ul li a {
  color: orange;
}

ol li a {
  color: red;
}

p#p1 {
  color: black;
}

.p2 {
  color: red;
}

body a.cetak-tebal {
  font-weight: bold;
}

p.cetak-tebal {
  font-size: 30px;
}

body ul li:nth-child(1) a {
  color: blue;
}
